.modal {
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute {
    composes: modal;
    position: absolute;
    width: 100%;
    height: 100%;
}

.fixed {
    composes: modal;
    position: fixed;
    width: 100%;
    height: 100%;
}

.inline {
    display: inline-block;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border-radius: 50%;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 4px solid #ccc;
    border-right: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-left: 4px solid #0076ff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}